
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px 24px;
    max-width: 1052px;
    margin: auto;
}

.header_menu {
    display: block;
}

.header_links-list {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
}

.header_links-list .header_links-list-item_no_bullit {
    list-style: none;
}

.header_links-list .header_links-list-item_no_bullit .header_link {
    text-decoration: none;
}

.header_links-list .header_links-list-item {
    list-style-type: circle;
    text-decoration: underline;
}

.header-logo-image {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
}
.address {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.4px;
}

.header_address {
    justify-self: end;
    align-self: center;
    margin-right: 40px;
}

.cover {
    padding: 165px 50px 50px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.cover_title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    color: #ffffff;
    letter-spacing: 0.3em;
    z-index: 1;
    margin-bottom: 135px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.aligned-text {
    display: block;
    line-height: 1;
    margin-top: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover_description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 79px;
    z-index: 1;
}

.cover_description_text {
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 18px;
}

.bet-button {
    font-family: inherit;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
    border: 1px solid #ffffff;
    background-color:transparent ;
    color: #ffffff;
}

.lots {
    padding: 180px 24px 0;
    margin: 0;
}

.lots_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: black;
    padding: 0 0 0 40px;
}

.lots_card-list {
    display: flex;
    padding: 27px 0 30px;
    gap: 25px;
    flex-wrap: wrap;
}

.lots_card-list-item {
    flex-grow: 1;
    list-style: none;
    min-height: 450px;
    width: 334px;
  
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    padding: 51px 40px 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  

}

.card_title {
    z-index: 1;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card_text {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    padding: 0 0 0 40px;
}

.about {
    margin: auto;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 25px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 181px;
}

.about_logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47px;
    margin-right: 47px;
}

.about_logo-image {
    width: 148px;
    height: 114px;
    max-width: 100%;
    max-height: 100%;
}

.about_title {
    grid-column: 2;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
    padding-bottom: 100px;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 90px 50px 90px;
}

.footer_menu{
    text-align: center;
}

.footer_menu-list {
    list-style: none;
}

.footer_menu-list-item {
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.footer_menu-link-active {
    text-decoration: none;
}

.footer_social-list {
    display: flex;
    justify-self: end;
    column-gap: 48px;
    flex-wrap: wrap;
}

.footer_social-list-item {
    list-style-type: none;
}

.footer_social-link {
    display: block;
    width: 48px;
    height: 48px;
    color: black;
}

.footer_social-icon {
    width: 100%;
}